1. .What are data structures, and why are they important?
    - Data structures are specialized formats for organizing, storing, and accessing collections of data.
    - they are important because of data manipulation like adding, removing, modifying elements. Optimize searching and sorting operations and
Conserve memory usage.

2. Explain the difference between mutable and immutable data types with examples?
    - mutable data type means you can change the value of given variable like list, set, and dictionary.
    - but in immutable data type you can't change the value of the variables like string and tuples.

3.  What are the main differences between lists and tuples in Python?
    - the main difference between list and tuples is that list is a mutable data type where tuples is immutable data type.

4.  Describe how dictionaries store data.
    - a dictionary organizes data as a collection of key-value pairs. Each key is unique, and it's associated with a specific value.
     # dictionary = {"name":"bhavik"}

5.  Why might you use a set instead of a list in Python?
    - set is a collection of unique elements so duplicate entries are not allowed in set where as in a list all element with duplicate entry also allow.

6.  What is a string in Python, and how is it different from a list?
    - A string is a sequence of characters enclosed within either single (') or double (") quotes. Strings are immutable, meaning once you create a string, you cannot modify its contents directly.
    - string elements are only character and its fixed like immutable once after creation where list is mutable and its element is anything like int,float,string etc.

7.  How do tuples ensure data integrity in Python?    
    - Tuples in Python help ensure data integrity primarily through their immutability.

8.  What is a hash table, and how does it relate to dictionaries in Python?
    - A hash table is a data structure that stores data as key-value pairs.dictionary in python use a hashing function to compute an index for storing and accessing these pairs efficiently like hash table.

9.  Can lists contain different data types in Python?
    - yes,list can contain different data types in Python.

10. Explain why strings are immutable in Python.
    - because of hashability,hash value of a string remains stable throughout its existence. to represent sensitive data, like file paths or usernames.
     for its predictable behavior so its contents remain constant

11. What advantages do dictionaries offer over lists for certain tasks?
    - dictionary store data as key-value pairs, which gives values with meaningful keys, making the data more intuitive and accessible, while in list store data as a sequence of elements, which you access by their position (indexing).

12.  Describe a scenario where using a tuple would be preferable over a list?
    - #tuples
      company_name =  ("tata", "motors")
      company_name[0] = "mahindra"     #error showing that tuples are immutable
      #lists
      company_name =  ["tata", "motors"]
      company_name[0] = "mahindra"  # no error showing
  thats why tuples would be preferable over list.

13.  How do sets handle duplicate values in Python?
    - sets automatically remove duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
    - The "in" keyword checks whether a specific value exists as an 'element' in the list. where in dictionary "in" keyword checks whether a specific 'key' exists in the dictionary not the 'values'.

15. Can you modify the elements of a tuple? Explain why or why not
    - No, you cannot modify the elements of a tuple in Python. because tuples are immutable, meaning that once they are created, their contents cannot be altered. also the hashability of the tuples.

16.  What is a nested dictionary, and give an example of its use case?
    - a nested dictionary is a dictionary within a dictionary.
    # to get student info like

    # Nested dictionary representing student information
students = {
    "student1": {"name": "bhavik","age": 32,"courses": ["ds", "gen ai"]},
    "student2": {"name": "priya","age": 30,"courses": ["designing", "art & craft"]}
           }

17.  Describe the time complexity of accessing elements in a dictionary.
    - accessing elements in a dictionary typically has a time complexity. this is because dictionaries are implemented as hash tables, where each key is hashed to a unique index in an array, allowing for direct access to the corresponding value.

18.   In what situations are lists preferred over dictionaries?
    - index base accessing of data lists is preferable, for ordered data, for iterating process, for duplicate values also lists is preferrable over dictionary.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
    - dictionaries are considered unordered because they store data in key-value pairs,that's does not guarantee the order of insertion of data.
     so for data retrival in dictionary keys are important not the index for elements because of its hashability.

20.   Explain the difference between a list and a dictionary in terms of data retrieval.
    - in list you retrieve elements from data by their index, while in dictionary  you retrieve elements by their keys.

In [ ]:
# practical questions

In [1]:
#  Write a code to create a string with your name and print it.

name = "bhavik"
print(name)

bhavik

In [2]:
#  Write a code to find the length of the string "Hello World"

s = "Hello World"
print(len(s))

11

In [3]:
 # Write a code to slice the first 3 characters from the string "Python Programming"

 s1 = "Python Programming"
 print(s1[0:3])

Pyt

In [4]:
#  Write a code to convert the string "hello" to uppercase

s2 = "hello"
print(s2.upper())

HELLO

In [5]:
 # Write a code to replace the word "apple" with "orange" in the string "I like apple"

 s3 = "I like apple"
 print(s3.replace("apple","orange"))

I like orange

In [15]:
# Write a code to create a "list" with numbers 1 to 5 and print it

num = list(range(1,6))
print(num)

[1, 2, 3, 4, 5]

In [16]:
#  Write a code to append the number 10 to the "list" [1, 2, 3, 4]

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [17]:
#  Write a code to remove the number 3 from the "list" [1, 2, 3, 4, 5]

list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [19]:
#  Write a code to access the second element in the "list" ['a', 'b', 'c', 'd']

list2 = ['a', 'b', 'c', 'd']
print(list2[1])

b

In [20]:
#  Write a code to reverse the "list" [10, 20, 30, 40, 50]

list3 = [10, 20, 30, 40, 50]
list3.reverse()
print(list3)

[50, 40, 30, 20, 10]

In [21]:
#  Write a code to create a "tuple" with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [22]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [23]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)

tuple2 = (10, 20, 5, 15)
print(min(tuple2))

5

In [24]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tuple3 = ('dog', 'cat', 'rabbit')
print(tuple3.index("cat"))

1

In [26]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [27]:
#  Write a code to create a set with the elements 'a', 'b', 'c' and print it

set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [29]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [30]:
#  Write a code to remove the element 4 from the set {1, 2, 3, 4}

set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [31]:
#  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

s1 = {1,2,3}
s2 = {3,4,5}
s = s1 | s2
print(s)

{1, 2, 3, 4, 5}

In [32]:
#  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

s3 = {1,2,3}
s4 = {2,3,4}
si = s3 & s4
print(si)

{2, 3}

In [33]:
#  Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dict = {"name": "bhavik", "age": 32, "city": "ahmedabad"}
print(my_dict)

{'name': 'bhavik', 'age': 32, 'city': 'ahmedabad'}

In [34]:
#  22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict1 = {'name': 'John', 'age': 25}
my_dict1["country"] = "USA"
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict2 = {'name': 'Alice', 'age': 30}
print(my_dict2["name"])

Alice

In [37]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict3.pop("age")
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

In [41]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict3["age"]
print(my_dict3)

{'name': 'Bob', 'city': 'New York'}

In [42]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict4 = {'name': 'alice', 'city': 'paris'}
print("city" in my_dict4)

True

In [43]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3]
my_tuples = (10,20,30)
my_dict = {"name": "bhavik", "age": "32"}
print(my_list)
print(my_tuples)
print(my_dict)

[1, 2, 3]
(10, 20, 30)
{'name': 'bhavik', 'age': '32'}

In [44]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

list4 = [24, 75, 88, 42, 33]
print(sorted(list4))

[24, 33, 42, 75, 88]

In [45]:
# 28. Write a code to create a list with strings and print the element at the third index.

list5 = ["bhavik", "priya", "dipti", "dipal"]
print(list5[2])

dipti

In [50]:
# 29. Write a code to combine two dictionaries into one and print the result.

my_dict5 = {"fruits": "apple", "prices": "100"}
my_dict6 = {"fruit": "kiwi", "price": "200"}
my_dict5.update(my_dict6)
print(my_dict5)

{'fruits': 'apple', 'prices': '100', 'fruit': 'kiwi', 'price': '200'}

In [54]:
# 29. Write a code to combine two dictionaries into one and print the result.

my_dict5 = {"fruits": "apple", "prices": "100"}
my_dict6 = {"fruit": "kiwi", "price": "200"}
com_dict = {**my_dict5, **my_dict6}
print(com_dict)

{'fruits': 'apple', 'prices': '100', 'fruit': 'kiwi', 'price': '200'}

In [58]:
#  30. Write a code to convert a list of strings into a "set".
del set
list6 = ["priya", "komal", "usha", "ishwar"]
set5 = set(list6)
print(set5)

{'usha', 'komal', 'priya', 'ishwar'}